<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1> Create a new recipe! </h1>
        <form action='/recipes' method="post">
            <p> <label for="name" > Recipe Name: </label>
            <input id="name" input="text" name="name"> </p>
            <p> <label for="ingredients" > Ingredients: </label>
            <input id="ingredients" input="text" name="ingredients"> </p>
            <p> <label for="cook_time" > Cook Time: </label>
            <input id="cook_time" input="text" name="cook_time"> </p>
            <input type="submit" value="Submit your recipe">
        </form>
    </body>
</html>
